/* add css for the new class */
.ScanPage {
    background-color: pink;
    color: white;
    padding: 10px;
    height: 100px;
    font-size: 50px;
    flex-direction: column;
}

.ScanPage img{
    padding: 3vh;
    padding-top: 20vh;
    width: 50vh;
}

.ScanPage .Scan-body{
    margin-bottom: 3%;
}



/* alter font size for the existing class */