<!doctype html>
<html>
<style>
body {background-color: rgb(238, 4, 246);}
h1   {color: rgb(0, 0, 0);}
p    {color: rgb(89, 0, 255);}
span {color: rgb(255, 255, 255);}
</style>
<head>

<title>PinkBird</title>
<h1 style="text-align:center;">PinkBird</h1>
</head>
<body>
<div class="w-full bg-gray-light p-4" id="wrapper">
<div class="text-xl font-bold" id="hd"></div>
</div>
<div class="m-8" id="bd">
{{{body}}}
</div>
<div style="text-align:center;">

  <p class="Founder">Naim  </p>
  <p class="Founder">Adam</p>
  <p class="Founder">Sonia</p>
  <p class="Founder">Sakib</p>
  
</div>
</body>
</html>