<h2>Welcome to PinkBird</h2>
<ul>
  <li class="Founder">Naim</li>
  <li class="Founder">Adam</li>
  <li class="Founder">Sonia</li>
  <li class="Founder">Sakib</li>
</ul>

li {
font-size: 2rem;
width: 300px;
margin: 4px;
padding: 4px;
list-style: none
}
.midlaner {background-color: #eeeeee}
.toplaner {background-color: #ffea00}