.ExplorePage {
    background-color: pink;
    color: white;
    padding: 10px;
    height: 100px;
    font-size: 50px;
    flex-direction: column;
}

.ExplorePage .Explore-body img{
    width: 100px;
}
