body{
	background-color: #1B2725; 
}

.LandingPageBody svg{
	transform: scaleY(-1);
	position: absolute;
	top: -15vh;
	left: 0vh;
	height: 40vh;
	width: 100%;
}

.LandingPageBody .landing-page-text{
	position: absolute;
	margin: 3vh;
	margin-top: 6vh;
	font-family: 'Arial Narrow', Arial, sans-serif
}

.LandingPageBody h2{
	color: #F1D0D0;
	text-align: left;
	margin-bottom: 2vh;
	font-size: 30px;
}

.LandingPageBody p{
	color: #F1D0D0;
	text-align: left;
	font-size: 24px;
}

.LandingPageBody img{
	position: fixed;
    bottom: 0px;
    left: -2vh;
    width: 48vh;
}

.LandingPageBody .LandingPageBodyButton{
	position: absolute;
	bottom: 60vh;
	color: black;
	background-color: #A4BFC0; 
	width: 30vh;
	height: 7vh;
	left: 8vh;
	border-radius: 20px;
	color: white;
	font-size: 20px;
}


