.ScanPage{
    background-color: #F0E7E7;
}

.ScanPage p{
    margin-bottom: 2vh;
}

.ScanPage img{
    width: 40vh;
    margin-bottom: 5vh;
}

.ScanPage Button{
    margin-bottom: 72vh;
    width: 36vh;
    height: 7vh;
    color: black;
}

.ScanPage Button p{
    margin: 1vh;
    float: left;
    font-size: 20px;
}

.ScanPage Button:hover{
    color: white;
}

.ScanPage Button:active{
    text-decoration: none;
}

